name: Deploy Infrastructure

on:
  push:
    branches: [main]
    paths:
      - 'terraform/**'
  workflow_dispatch:


env:
  TF_BACKEND_RG: POC-Kapil
  TF_BACKEND_SA: tspsa01567rytg
  TF_BACKEND_CONTAINER: tfstate
  TF_BACKEND_KEY: be/terraform.tfstate


jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      # - name: Terraform Init
      #   working-directory: ./terraform
      #   run: terraform init


      - name: Terraform Init
        working-directory: infra
        run: |
          terraform init \
            -backend-config="resource_group_name=${TF_BACKEND_RG}" \
            -backend-config="storage_account_name=${TF_BACKEND_SA}" \
            -backend-config="container_name=${TF_BACKEND_CONTAINER}" \
            -backend-config="key=${TF_BACKEND_KEY}"

        
      - name: Terraform Plan
        working-directory: ./terraform
        run: terraform plan
        
      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve


        